<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>price</key>
		<string>1000</string>
		<key>author</key>
		<string>Булгаков М. А.</string>
		<key>name</key>
		<string>Мастер и Маргарита</string>
		<key>bookDescription</key>
		<string>Действие романа начинается в один из майских дней, когда два московских литератора — председатель правления МАССОЛИТа Михаил Александрович Берлиоз и поэт Иван Бездомный — во время прогулки на Патриарших прудах встречают незнакомца, похожего на иностранца. Он включается в разговор об Иисусе Христе, рассказывает о своём пребывании на балконе прокуратора Иудеи Понтия Пилата и предрекает, что Берлиозу отрежет голову «русская женщина, комсомолка». Литераторы не знают, что перед ними Воланд — дьявол, прибывший в советскую столицу со своей свитой: Фаготом-Коровьевым, Азазелло, котом Бегемотом и служанкой Геллой.</string>
	</dict>
	<dict>
		<key>price</key>
		<string>1500</string>
		<key>author</key>
		<string>Достоевский Ф.М.</string>
		<key>name</key>
		<string>Преступление и наказание</string>
		<key>bookDescription</key>
		<string>Действие романа начинается жарким июльским днём в Петербурге. Студент Родион Романович Раскольников, вынужденный уйти из университета из-за отсутствия денег, направляется в квартиру к процентщице Алёне Ивановне, чтобы сделать «пробу своему предприятию». В сознании героя в течение последнего месяца созревает идея убийства «гадкой старушонки»; одно-единственное преступление, по мнению Раскольникова, изменит его собственную жизнь и избавит сестру Дуню от необходимости выходить замуж за «благодетеля» Петра Петровича Лужина.</string>
	</dict>
	<dict>
		<key>price</key>
		<string>2000</string>
		<key>author</key>
		<string>Пушкин А.С.</string>
		<key>name</key>
		<string>Евгений Онегин</string>
		<key>bookDescription</key>
		<string>Роман начинается с сетований молодого дворянина Евгения Онегина по поводу болезни своего дядюшки, вынудившего Евгения покинуть Петербург и отправиться к больному, чтобы проститься с ним. Обозначив таким образом завязку, автор занимает первую главу рассказом о происхождении, семье и жизни своего героя до получения известия о болезни родственника.

Роман начинается с сетований молодого дворянина Евгения Онегина по поводу болезни своего дядюшки, вынудившего Евгения покинуть Петербург и отправиться к больному, чтобы проститься с ним. Обозначив таким образом завязку, автор занимает первую главу рассказом о происхождении, семье и жизни своего героя до получения известия о болезни родственника.

</string>
	</dict>
	<dict>
		<key>price</key>
		<string>1000</string>
		<key>author</key>
		<string>Лермонтов М.Ю.</string>
		<key>name</key>
		<string>Демон</string>
		<key>bookDescription</key>
		<string>«Демон» — поэма Михаила Юрьевича Лермонтова, над которой поэт работал в течение десяти лет — с 1829 по 1839 год. Из-за цензурных запретов произведение долгое время не допускалось к печати и распространялось в списках, в которых были представлены как его ранние, так и поздние версии; всего, по данным исследователей, насчитывалось восемь авторских редакций «Демона». В 1842 году в журнале «Отечественные записки» были опубликованы отрывки из поэмы. Первое полное издание произведения состоялось в Германии в 1856 году, в России — в 1860-м.</string>
	</dict>
	<dict>
		<key>price</key>
		<string>1200</string>
		<key>author</key>
		<string>Чехов А.П.</string>
		<key>name</key>
		<string>О любви</string>
		<key>bookDescription</key>
		<string>О любви — рассказ русского писателя и драматурга Антона Павловича Чехова, написанный в 1898 году.
Рассказ «О любви» завершает чеховскую «Маленькую трилогию». Рассказ был впервые опубликован в августе 1898 года в журнале «Русская мысль» № 8.</string>
	</dict>
</array>
</plist>
